<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Shopping Bag', state: 'bag'}); %>

<body style="background-color: #1b1c1e;;">
    <%- include('../layouts/navbar.ejs', {types: 'v3', title: 'Shopping Bag'}); %>
    <br>
    <div class="bag">
        <div class="row">
            <div class="col-lg-8">
                <%- include('../layouts/bagcard.ejs') %>
                <%- include('../layouts/bagcard.ejs') %>
                <%- include('../layouts/bagcard.ejs') %>
            </div>

            <div class="col-lg-4">
                <div class="summary">
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="border-bottom: 1px solid white;">
                                <div class="col-lg-12">
                                    <h3 style="text-align: center;"><b>Order Summary</b></h3>
                                    <br style="display: block;content: ' '; margin: 1.5vw 0; line-height: 1.5vw;">
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <p>Estimate</p>
                                <p>1.999.999,00</p>
                            </div>
                            <br style="display: block;content: ' '; margin: 1vw 0; line-height: 1vw;">
                            <a class="btn btn-primary btn-checkout" type="submit" href="checkout">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('../layouts/footer.ejs', {state: 'bag'}); %>
</body>
</html>