<!doctype html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Login', state: 'login'}); %>

<body style="background-color: #1b1c1e;">
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Login'}); %>
    
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-white col-md-8 col-lg-6 col-xl-5">
                    <h1 class="card-header text-white">Login</h1>
                    <lottie-player style="display: -webkit-box;-webkit-box-pack: center;" autoplay background="transparent" class="icon" loop speed="1"
                        src="https://assets3.lottiefiles.com/packages/lf20_myor1trh.json"></lottie-player>
                    <div class="card-body">
                        <form class="px-4 py-3" action="login" method="POST">
                            <div class="form-group" style="text-align: left;">
                                <a data-feather="mail" href="" style="font-size: 40px;"></a>
                                <label for="email">Email</label>
                                <input class="form-control input-sm text-center"  id="email" name="email"
                                placeholder="Email Address" type="email">
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <a data-feather="lock" href="" style="font-size: 40px;"></a>
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <input class="form-control input-sm text-center" id="password" name="password"
                                    placeholder="Password" type="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye" onclick="revealhidePassword()"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="options-01 hoverlogin-1" style="word-break: keep-all;">
                                    <label class="remember-me text-left"><input name="" type="checkbox">Remember
                                        me</label>
                                    <a href="forgot-password" style="margin-left: 15%; font-size: 10pt;">Forgot
                                        your
                                        password?</a>
                                </div>
                                <button class="btn btn-login btn-primary" type="submit">Login</button>
                                <% if(locals.error) { %>
                                    <span class="text-danger pl-2" style="font-size: 2.2vh; margin-left: 10%;" ><%= error %></span>
                                    <% } %>
                                <% if(locals.regisverify) { %>
                                    <span class="text-danger pl-2" style="font-size: 2.2vh; margin-left: 10%;" ><%= error %></span>
                                    <% } %>
                                <div class="login-with">Or login with
                                    <div class="links">
                                        <div class="google">
                                            <i><a href=""></a><img class="google-icon-svg lazyload"
                                                    src="../img/google.webp"
                                                    style="height: 30px; width: 30px; margin: 0 30px; padding-top: -3px"/><span></span></i>
                                        </div>
                                        <div class="facebook">
                                            <i><a href=""></a><img class="facebook-icon-svg lazyload"
                                                    src="../img/facebook.webp"
                                                    style="height: 30px; width: 30px; margin: 0 30px; padding-top: -3px"><span></span></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="hoverlogin-1 text-center">
                                    <a href="register">Don't have an account?? Click Here to Sign Up!!</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'login'}); %>
</body>

</html>