<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Product', state: 'product'}); %>

<body style="background-color: #1b1c1e;">
    <%- include('../layouts/navbar.ejs', {types: 'v3', title: 'Product'}); %>

    <div class="card" style="background-color: #212226;">
        <div class="product">
            <img alt="placeholder image" class="img-fluid lazyload" src="/img/<%= data[0].IMAGE %>"
                style="width: 400px; height: auto;" />
            <div class="description">
                <div style="margin-left: 20px;">
                    <h1 class="titledes"><%= data[0].TITLE %></h1>
                </div>
                <div>
                    <p class="card-body">
                        <%= data[0].DESCRIPTION %>

                    </p>
                </div>
                <div style="margin-left: 20px; word-break: normal;">
                    <p>Price : <%= data[0].PRICE %></p>
                    <p>Stock : <%= data[0].STOCK %></p>
                    <p>Size  : <%= data[0].SIZE %></p>
                </div>
                <div class="sizeSepatu">
                    <div style="display: flex; color: black;">
                        <!--<button class="button button-bag"  >Add to Bag</button>-->

                        <!-- Button trigger modal -->
                        <button type="button" class="btn button-bag" id="myBtn" data-toggle="modal" data-target="#exampleModal" onclick="addToBag('<%= data[0].ID %>')">
                            Add to Bag
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade black" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: #1b1c1e; color: white;">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body" style="text-align: center;">
                                    Succefully added to Bag
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="/bag"><button type="button" class="btn button-bag">Bag</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'product'}); %>
</body>
</html>
